@model MVCForum.Website.Areas.Admin.ViewModels.CategoryViewModel

@{
    ViewBag.Title = "Edit Category";    
}

@Html.Partial("_CategoryNavButtons")

@using (Html.BeginForm("EditCategory", "AdminCategory", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
        @Html.ValidationSummary(false)
    <fieldset>
        <legend>Edit Category</legend>
        
        @Html.HiddenFor(model => model.Id)

        @Html.Partial("_CategoryFields", Model)

        <div class="submit-holder">
            <input type="submit" class="btn btn-mvc btn-mvc-green btn-mvc-large" value="Update" /> 
            <a href="@Url.Action("DeleteCategoryConfirmation", new { id = Model.Id })" class="btn btn-mvc btn-mvc-large" role="button">Delete</a>
        </div>
    </fieldset>
}
