@model MVCForum.Website.Areas.Admin.ViewModels.ListCategoriesViewModel
@{
    if (Model.Categories.Any())
    {
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Categories
                </th>
                <th>Delete
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cat in Model.Categories)
            {           
                <tr>
                    <td class="editcategory mainadmincategory">
                        <a href="@Url.Action("EditCategory", new { id = cat.Id })" class="catfancybox">@Html.Raw(cat.Name)</a>
                        @Html.Action("ListAllCategories", new { id = cat.Id })
                    </td>
                    <td>
                        <a href="@Url.Action("DeleteCategoryConfirmation", new { id = cat.Id })" title="Delete @Html.Raw(cat.Name)" class="btn btn-small"><i class="icon-remove"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    }
}


