@using MVCForum.Website.Application
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="n3o Digital">

    @(
 Bundle.Css()
            .Add("~/Content/admin/bootstrap.css")
            .Add("~/Content/admin/Admin.css")
            .Add("~/Scripts/fancybox/jquery.fancybox.css")
            .MvcRender("~/content/cache/combinedadmin_#.css")
    )

    <style type="text/css">
        body { padding-top: 60px; padding-bottom: 40px; }
    </style>
    <!--<link href="/css/bootstrap-responsive.css" rel="stylesheet">-->

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/javascript">
        var app_base = '@Url.Content("~/")';
    </script>
    @(Bundle.JavaScript()
        .Add("~/Scripts/jquery.1.7.2.min.js")
        .Add("~/Scripts/jquery.unobtrusive-ajax.js")
        .Add("~/Scripts/jquery-ui.1.8.min.js")
        .Add("~/Scripts/admin/bootstrap-tooltip.js")
        .Add("~/Scripts/admin/bootstrap-popover.js")
        .Add("~/Scripts/admin/bootstrap-button.js")
        .Add("~/Scripts/admin/bootstrap-alert.js")
        .Add("~/Scripts/admin/bootstrap-transition.js")
        .Add("~/Scripts/admin/bootstrap-tab.js")
        .Add("~/Scripts/fancybox/jquery.fancybox.js")
        .Add("~/Scripts/admin/admin.js")
        .MvcRender("~/scripts/cache/combinedadmin_#.js")
    )


    @RenderSection("AdminHeader", false)
</head>

<body>

    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="@Url.Action("Index", "Admin", new { area = "Admin" }, null)">
                    <img src="@Url.Content("~/Content/admin/Images/admin-n3o-logo.png")" alt="Admin Logo" />
                </a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li><a href="@Url.Content("~/")">Main Site</a></li>
                        <li>@Html.AdminActionLink("Admin Home", "Index", "Admin")</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container">

        @Html.Partial("_GenericMessage")       

        <div class="row">
            @if (User.Identity.IsAuthenticated)
            {
                <div class="span2">
                    <div id="logindisplay">
                        @Html.Partial("_LogOnPartial")
                    </div>
                    <div class="well well-small sidebar-nav">
                        <ul class="nav nav-list">
                            <li class="nav-header">Settings</li>
                            <li>
                                <a href="@Url.Action("Index", "Settings", new { area = "Admin" }, null)">
                                    <i class='icon-cog'></i>Configuration
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "AdminCategory", new { area = "Admin" }, null)">
                                    <i class='icon-list-alt'></i>Categories
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Permissions", new { area = "Admin" }, null)">
                                    <i class='icon-lock'></i>Permissions
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "AdminLanguage", new { area = "Admin" })">
                                    <i class='icon-volume-up'></i>Language
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "AdminTag", new { area = "Admin" })">
                                    <i class='icon-tags'></i>Tags
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "AdminBadge", new { area = "Admin" })">
                                    <i class='icon-bookmark'></i>Badges
                                </a>
                            </li>
                            <li class="nav-header">Membership</li>
                            <li>
                                <a href="@Url.Action("Manage", "Account", new { area = "Admin" }, null)">
                                    <i class='icon-user'></i>Manage Users
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("ListAllRoles", "Account", new { area = "Admin" }, null)"><i class="icon-flag"></i>Manage Roles</a>
                            </li>
                            <li>
                                <a href="@Url.Action("AddRole", "Account", new { area = "Admin" }, null)"><i class="icon-plus"></i>Add Roles</a>
                            </li>

                            <li class="nav-header">Tools</li>
                            <li>
                                <a href="@Url.Action("Index", "ImportExport", new { area = "Admin" })">
                                    <i class='icon-random'></i>Import / Export
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "AdminLucene", new { area = "Admin" })">
                                    <i class='icon-fast-forward'></i>Lucene
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Log", new { area = "Admin" })">
                                    <i class='icon-exclamation-sign'></i>Log
                                </a>
                            </li>
                        </ul>
                    </div>
                    @Html.Partial("_GetCurrentVersion")
                </div>
            }
            <div class="span10 mainadminbody">
                @RenderBody()
            </div>
        </div>

        <hr>

        <footer>
            <p>&copy; <a href="http://www.webdesigncompany.co.uk">n3o Digital</a> @DateTime.Now.Year</p>
            @RenderSection("AdminFooter", false)
        </footer>

    </div>

</body>
</html>
