@using MvcForum.Web.Application
@{
    var globalClass = Context.IsMobileDevice() ? "mobile" : "desktop";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">    
    @Html.Partial("_AdminScripts")
    @RenderSection("AdminHeader", false)
</head>

<body class="@globalClass">

    @Html.Partial("_AdminTopNav")

    <div class="container">

        @Html.Partial("_GenericMessage")

        <div class="mainadminbody fullwidthadminbody">
            @RenderBody()
        </div>

        <hr>

        <footer>
            <p>&copy; <a href="http://www.aptitude.co.uk">Aptitude</a> @DateTime.UtcNow.Year</p>
            @RenderSection("AdminFooter", false)
        </footer>

    </div>

</body>
</html>
