@model MVCForum.Website.ViewModels.CreateDbViewModel
@{
    Layout = "~/Views/Shared/_Install.cshtml";
    ViewBag.Title = "MVCForum Installer";   
}

<div class="well well-lg">
    <h3>All Going Well So Far...</h3>

    @if (Model.IsUpgrade)
    {
        <p>We are going to attempt to update your version @Model.PreviousVersion database to version @Model.CurrentVersion.</p>        
        <p class="submit-holder">
            <a href="@Url.Action("UpgradeDb", "Install")" class="btn btn-default btn-lg btn-block dbcreatebutton">Continue...</a>
        </p>   
    }
    else
    {
        <p>We are going to create the MVCForum tables now. Once complete the site will load straight away and you can login using the details below.</p>
        <p>Username: <strong>admin</strong></p>
        <p>Password: <strong>password</strong></p>
        <p>Be sure to update the admin username and password once you have logged in!</p>
        <p class="submit-holder">
            <a href="@Url.Action("CreateDbTables", "Install")" class="btn btn-default btn-lg btn-block dbcreatebutton">Continue...</a>
        </p>   
    }
    <img src="@Url.Content("~/Installer/Content/arrow-spinner-blue.gif")" alt="Please Wait..." class="dbinstallwait" style="display: none;" />
</div>

