@using MVCForum.Domain.Constants
@using MVCForum.Website.Application
@model MVCForum.Website.Areas.Admin.ViewModels.MemberListViewModel
@{
    ViewBag.Title = "Users";
}

<h2>
    <a href="@Url.Action("Edit")" class="btn-mvc">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </a>
    @ViewBag.Title
</h2>
        @using (Html.BeginForm("Manage", "Account", FormMethod.Post))
        {
            <div class="input-group membersadminsearch" style="padding-bottom: 15px;">
                @Html.TextBoxFor(x => Model.Search, new { @class = "form-control" })
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Search</button>
                </span>
            </div>
            <div style="text-align: right; padding-bottom: 10px;">
                @Html.CheckBoxFor(x => Model.ShowDisabled) @Html.Raw(" Show Disabled")
            </div>
            @Html.HiddenFor(x => x.PageIndex)
        }

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Edit</th>
                    <th>User</th>
                    <th>Firm</th>
                    <th>Disabled</th>
                    <th>Is Voting Member</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.Users)
                {
                    var disabled = user.Id == Model.Id;

                    <tr>
                        <td>
                            <a href="@Url.Action("Edit", new { user.Id })" class="btn-mvc">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            </a>
                        </td>
                        <td>
                            <strong>@Html.DisplayFor(modelItem => user.UserName)</strong>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => user.MembershipFirmName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => user.IsBanned)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => user.IsVotingMember)
                        </td>
                        <td>
                            @if (!disabled)
                            {
                                <a href="@Url.Action("Delete", new { user.Id, p = Model.PageIndex, search = Model.Search})" class="btn-mvc">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>


        @if (Model.TotalPages > 1)
        {
            @Html.Pager(Convert.ToInt32(Model.PageIndex), SiteConstants.Instance.AdminListPageSize, Convert.ToInt32(Model.TotalCount), new { search = Model.Search, showdisabled = Model.ShowDisabled })
        }


