@using MVCForum.Utilities
@model MVCForum.Website.ViewModels.ViewPrivateMessageViewModel

@{
    ViewBag.Title = string.Concat(Html.LanguageString("PM.Title"), Model.Message.Subject);
}

<h2>@Model.Message.Subject</h2>
<p class="privatemessagefrom"><strong>@Html.LanguageString("PM.From")</strong> <a href="@Model.Message.UserFrom.NiceUrl">@Model.Message.UserFrom.UserName</a></p>
<p class="privatemessagesent"><strong>@Html.LanguageString("PM.Sent")</strong> @Model.Message.DateSent.ToShortDateString()</p>

<p class="privatemessagecontent">
    @Html.Raw(AppHelpers.ConvertPostContent(Model.Message.Message))
</p>

<div class="btn-group">    
        @Html.ActionLink(Html.LanguageString("PM.BackToInbox"), "Index", new { }, new { @class = "btn btn-success" })
        @Html.ActionLink(Html.LanguageString("PM.Reply"), "Create", "PrivateMessage", new { id = Model.Message.Id }, new { @class = "btn btn-success" })
</div>