@using MVCForum.Website.ViewModels
@model SearchViewModel

@{
    Layout = "~/Views/Shared/_LayoutRightSideBar.cshtml";
    ViewBag.Title = Html.Settings().ForumName;
    var totalCount = Convert.ToInt32(Model.TotalCount);
}

@section side
{
    @Html.Partial("_CommonSideNav")
}

<h1>@Html.LanguageString("Search.Searching"): @Model.Term</h1>

@if (Model.Posts.Any())
{
    foreach (var post in Model.Posts)
    {
        Html.RenderPartial("_PostSearch", post);
    }

    if (Model.TotalPages > 1)
    {
        @Html.Pager(Convert.ToInt32(Model.PageIndex), Html.Settings().PostsPerPage, totalCount, null)
    }
}
else
{
    @Html.LanguageString("Search.NoResults")
}

