@using MVCForum.Website.Application

@{
    ViewBag.Title = Html.Settings().PageTitle ?? Html.Settings().ForumName;
    ViewBag.MetaDesc = Html.Settings().MetaDesc;
}

@section side
{
    @Html.Action("Index", "Language")
    @Html.Action("ListCategorySideMenu", "Category")
    @Html.Action("SideSearch", "Search")
    @Html.Action("PopularTags", "Tag")
    @Html.Action("CurrentWeekHighPointUsers", "Point")
    @Html.Action("HotTopics", "Topic")
}

@section UnderHeaderStrip {
    <section class="content-strip">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <ul>
                        <li><a href="@Url.Action("Index", "Home")" class="@(ViewBag.CurrentController == "home" && ViewBag.CurrentAction == "index" ? "active" : "")">Latest</a></li>
                        <li><a href="#">Following</a></li>
                        <li><a href="#">Posted In</a></li>
                        <li><a href="#">Favourites</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
}

@Html.Action("LatestTopics", "Topic")
@*
    If you want to show categories on the home page instead of topics
    Just uncomment this action out and delete this text (And comment out the above action)
    @Html.Action("ListMainCategories", "Category")
*@

