@model MVCForum.Website.ViewModels.ResetPasswordViewModel

@{
    Layout = "~/Views/Shared/_LayoutFullWidth.cshtml";
    ViewBag.Title = Html.LanguageString("Members.ChangePassword.Title");
}

<div class="row">
    <div class="col-md-6 col-md-offset-3">

        @using (Html.BeginForm("ResetPassword", "Members", new { id = Model.Id, token = Model.Token }, FormMethod.Post, new { @class = "form-resetpassword" }))
        {
            @Html.ValidationSummary(true)
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Token)
            @Html.HiddenFor(m => m.Id)

            <fieldset>
                <legend>@ViewBag.Title</legend>

                <p>
                    @string.Format(Html.LanguageString("Members.ChangePassword.Text"), Membership.MinRequiredPasswordLength)
                </p>

                <div class="form-group">
                    @Html.LabelFor(m => m.NewPassword)
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.NewPassword)
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword)
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </div>

                <div class="submit-holder">
                    <button type="submit" class="btn-mvc-green btn-mvc-large">@Html.LanguageString("Buttons.ChangePassword")</button>
                </div>
            </fieldset>

        }
    </div>
</div>