@model MVCForum.Website.ViewModels.CreateEditTopicViewModel
@{
    Layout = "~/Views/Shared/_LayoutFullWidth.cshtml";
    ViewBag.Title = Html.LanguageString("Post.Edit");
}

@section Header
{
    @(
 Bundle.JavaScript()
            .Add("~/Scripts/jquery.tagsinput.min.js")
            .Add("~/Scripts/tags.js")

            .MvcRender("~/scripts/cache/topic-combined_#.js")
    )
    <script type="text/javascript">
        counter = @(Model.PollAnswers != null ? Model.PollAnswers.Count : 0);
    </script>
}


<div class="row">

    <div class="col-md-8 col-md-offset-2">
        <div class="editpostholder">

            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(false)
                @Html.AntiForgeryToken()
                @Html.Partial("_CreateEdit_TopicPost", Model)
                @Html.HiddenFor(x => x.Id)
            }

        </div>
    </div>
</div>
