@model MVCForum.Website.ViewModels.AllBadgesViewModel
@{
    ViewBag.Title = Html.LanguageString("Badges.PageTitle");
}

@section side
{
    @Html.Action("ListCategorySideMenu", "Category")
    @Html.Action("SideSearch", "Search")
    @Html.Action("PopularTags", "Tag")
    @Html.Action("CurrentWeekHighPointUsers", "Point")
}

<div class="mainheading">
    <h1>@ViewBag.Title</h1>    
</div>

<div class="badgeholder">
    @foreach (var badge in Model.AllBadges)
    {
        <div class="publicbadgeline">
            <div class="row">
                <div class="publicbadge col-md-1">
                    <img src="@Url.Content(AppHelpers.ReturnBadgeUrl(badge.Image))" alt="@badge.Name" />
                </div>
                <div class="publicbadgedetails col-md-11">
                    <p class="publicbadgename">@Html.Raw(badge.DisplayName)</p>
                    <p class="publicbadgenamedesc">@badge.Description</p>
                    @if (badge.AwardsPoints != null && badge.AwardsPoints > 0)
                    {
                        <p class="publicbadgeawards">@string.Format(Html.LanguageString("Badges.AwardsPoints"), badge.AwardsPoints)</p>
                    }
                </div>
            </div>
        </div>
    }
</div>
