@model MVCForum.Website.ViewModels.ReportPostViewModel

@{
    ViewBag.Title = string.Concat(Html.LanguageString("Report.ReportPostBy"), Model.PostCreatorUsername);
}

@section Header
{
        @(
        Bundle.JavaScript()
            .Add("~/Scripts/jquery.validate.min.js")
            .Add("~/Scripts/jquery.validate.unobtrusive.min.js")
            
            .MvcRender("~/scripts/cache/validate-combined_#.js")
    )  
}

@using (Html.BeginForm("Report", "post", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.HiddenFor(x => Model.PostId)
    @Html.ValidationSummary(false)

    <fieldset>
        <legend>@ViewBag.Title</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Reason)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Reason)
            @Html.ValidationMessageFor(model => model.Reason)
        </div>

        <div class="submit-holder">
            <input type="submit" class="btn btn-large btn-success" value="@Html.LanguageString("Buttons.Send")" />
        </div>
    </fieldset>
}
