@model MVCForum.Website.ViewModels.ChangePasswordViewModel

@{
    Layout = "~/Views/Shared/_LayoutRightSideBar.cshtml";
    ViewBag.Title = Html.LanguageString("Members.ChangePassword.Title");
}

@section Header
{
    @(
        Bundle.JavaScript()
            .Add("~/Scripts/jquery.validate.min.js")
            .Add("~/Scripts/jquery.validate.unobtrusive.min.js")            
            .MvcRender("~/scripts/cache/validate-combined_#.js")
    )
}


@using (Html.BeginForm("ChangePassword", "Members", FormMethod.Post, new { @class = "form-forgotpassword" }))
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()

        <fieldset>
            <legend>@ViewBag.Title</legend>
            
            <p>
                @string.Format(Html.LanguageString("Members.ChangePassword.Text"), Membership.MinRequiredPasswordLength)
            </p>

            <div class="form-group">
                @Html.LabelFor(m => m.OldPassword)
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.OldPassword)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.NewPassword)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>

            <div class="submit-holder">
                <button type="submit" class="btn-mvc btn-mvc-green btn-mvc-large">@Html.LanguageString("Buttons.ChangePassword")</button>
            </div>
        </fieldset>

}
