@model MVCForum.Website.ViewModels.ForgotPasswordViewModel

@{
    ViewBag.Title = Html.LanguageString("Members.ForgotPassword.Title");
}

@section Header
{
    @(
        Bundle.JavaScript()
            .Add("~/Scripts/jquery.validate.min.js")
            .Add("~/Scripts/jquery.validate.unobtrusive.min.js")            
            .MvcRender("~/scripts/cache/validate-combined_#.js")
    )
}

@using (Html.BeginForm("ForgotPassword", "Members", FormMethod.Post, new { @class = "form-horizontal" }))
{
    
    @Html.ValidationSummary(false)
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>@ViewBag.Title</legend>

        <div class="editor-label">
            @Html.LabelFor(m => m.EmailAddress)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(m => m.EmailAddress)
            @Html.ValidationMessageFor(m => m.EmailAddress)
        </div>

        <div class="submit-holder">
            <input type="submit" value="@Html.LanguageString("Buttons.ResetPassword")" class="btn btn-large btn-success" />
        </div>
    </fieldset>
    
}
