@model MVCForum.Website.ViewModels.ForgotPasswordViewModel
@{
    Layout = "~/Views/Shared/_LayoutFullWidth.cshtml";
    ViewBag.Title = Html.LanguageString("Members.ForgotPassword.Title");
}

<div class="row">

    <div class="col-md-6 col-md-offset-3">

        @using (Html.BeginForm("ForgotPassword", "Members", FormMethod.Post, new { @class = "form-forgotpassword" }))
        {

            @Html.ValidationSummary(true)
            @Html.AntiForgeryToken()

            <h3>@ViewBag.Title</h3>

            <div class="form-group">
                @Html.LabelFor(m => m.EmailAddress)
                @Html.TextBoxFor(m => m.EmailAddress, new { @class="form-control", type="email" })
                @Html.ValidationMessageFor(m => m.EmailAddress)
            </div>

            <div class="submit-holder">
                <button type="submit" class="btn-mvc-green btn-mvc-large">@Html.LanguageString("Buttons.ResetPassword")</button>
            </div>

        }

    </div>

</div>
