@model MVCForum.Website.ViewModels.ViewAdminSidePanelViewModel

<li>
    <a href="@Url.Action("Edit", "Members", new { id = Model.CurrentUser.Id })">@Html.LanguageString("Buttons.Edit") @Model.CurrentUser.UserName</a>
</li>

@if (Html.Settings().EnablePrivateMessages && Model.CurrentUser.DisablePrivateMessages != true)
{
    <li>
        <a href="@Url.Action("Index", "PrivateMessage")">
            @Html.LanguageString("PM.PrivateMessages") 
            @if (Model.NewPrivateMessageCount > 0)
            {
                <span class="badge">@Model.NewPrivateMessageCount</span>
            }
        </a>
    </li>
}

<li>@Html.ActionLink(Html.LanguageString("LogOn.LogOff"), "LogOff", "Members")</li>
