@{
    Layout = null;  
}
<!DOCTYPE html>
<html lang="en">
    <head>       
        <meta charset="utf-8">
        <title>@ViewBag.Title</title>

        @(Bundle.Css()
              .Add("~/Content/bootstrap/css/bootstrap.css")
              .Add("~/installer/Content/Styles/install.css")
              .MvcRender("~/content/cache/combined_installer_#.css"))
           
        <style type="text/css">
            body { padding-top: 50px; padding-bottom: 40px; }
        </style>
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        @(Bundle.JavaScript()
                .Add("~/Scripts/jquery-1.11.3.min.js")
                .Add("~/Scripts/jquery.unobtrusive-ajax.js")
                .Add("~/Content/bootstrap/js/bootstrap.min.js")
                .Add("~/Scripts/jquery.placeholder.min.js")
                .Add("~/Content/bootstrap/js/bootstrap-prettify.js")
              .Add("~/installer/Content/Scripts/general.js")
              .MvcRender("~/scripts/cache/combined_installer_#.js")
              )

        @RenderSection("Header", false)

    </head>
<body>

    <div class="container">


        <section id="main">
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    @Html.Partial("_GenericMessage")
                    <a class="brand" href="http://www.mvcforum.com" target="_blank">MVCForum</a>
                    @RenderBody()
                </div>
            </div>
        </section>

        @RenderSection("Footer", false)

        <hr>

        <footer>
            <p>&copy; @DateTime.UtcNow.Year - <a href="http://www.mvcforum.com">MVCForum</a></p>
        </footer>

    </div>

</body>
</html>
