@model MVCForum.Domain.DomainModel.Post
           
<div class="postsnippet" id="post-@Model.Id">
    <div class="row">
        <div class="col-md-9">
            <h2>Replying in: @Model.Topic.Name</h2>
            <p>@Html.Raw(AppHelpers.ConvertPostContent(Model.PostContent))</p>
            <p class="postuser">@Model.User.UserName</p>
        </div>
        <div class="col-md-3">
            <p><a href="#" data-postid="@Model.Id" data-postaction="approve" class="btn-mvc-green btn-mvc-fullwidth postaction">Approve</a></p>
            <p><a href="#" data-postid="@Model.Id" data-postaction="delete" class="btn-mvc-red btn-mvc-fullwidth postaction">Delete</a></p>
        </div>
    </div>
</div>