@model MVCForum.Website.ViewModels.PostViewModel
@{
    var postId = Model.Post.Id;
    var loggedOnUserId = Html.CurrentMember() != null ? Html.CurrentMember().Id : Guid.Empty;
    var isAdmin = User.IsInRole(AppConstants.AdminRoleName);
    var downVotes = Model.Votes.Where(x => x.Amount < 0).ToList();
    var upVotes = Model.Votes.Where(x => x.Amount > 0).ToList();
}
<div class="post searchpost solution-@Model.Post.IsSolution.ToString().ToLower() post-@postId" data-id="@postId">

    <div class="rowcreater hidden-xs">
        <a id="comment-@postId"></a>
        <a href="@Model.Post.User.NiceUrl">
            <img src="@Model.Post.User.MemberImage(SiteConstants.Instance.GravatarPostSize)" alt="@Model.Post.User.UserName">
        </a>
    </div>

    <div class="rowdetails clearfix">

        <div class="postdetails">
            <h5 class="topiccategory">
                <a href="@Model.ParentTopic.Category.NiceUrl">@Html.Raw(Model.ParentTopic.Category.Name)</a> <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> <a href="@Html.Raw(Model.PermaLink)">@Html.Raw(Model.ParentTopic.Name)</a> 
            </h5>
            <div class="postbodytop">
                <a class="postmember-@postId" href="@Html.Raw(Model.Post.User.NiceUrl)">@Html.Raw(Model.Post.User.UserName)</a>
                @Html.LanguageString("Post.PostedThis")
                @DatesUI.GetPrettyDate(Model.Post.DateCreated.ToString())
                @if (isAdmin && !string.IsNullOrEmpty(Model.Post.IpAddress))
                {
                    <text> - @Model.Post.IpAddress</text>
                }
                @if (Html.Settings().DisplayEditedBy && Model.Post.DateEdited > Model.Post.DateCreated)
                {

                    <text> - @Html.LanguageString("Post.LastEdited")  @DatesUI.GetPrettyDate(Model.Post.DateEdited.ToString())</text>
                }
            </div>

            <div id="postcontent-@postId" class="postcontent">
                <p>@Html.Raw(AppHelpers.ConvertPostContent(Model.Post.PostContent))</p>

                @if (Html.Settings().EnableSignatures && !string.IsNullOrEmpty(Model.Post.User.Signature))
                {
                    <div class="userpostsignature">@Html.Raw(AppHelpers.ConvertPostContent(Model.Post.User.Signature))</div>
                }
            </div>

            <div class="postsocial">
                <ul>
                    @if (Html.Settings().EnablePoints)
                    {
                        <li>
                            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                            <span class="count">@upVotes.Count().KiloFormat()</span>
                            @if (Model.AllowedToVote)
                            {
                                <a class="votelink" data-id="@postId" data-votetype="up" data-votetext="@Html.LanguageString("Post.VoteUp")" data-votedtext="@Html.LanguageString("Post.VotedUp")" data-hasvoted="@Model.HasVotedUp.ToString().ToLower()" style="@Html.Raw(Model.HasVotedDown ? "display:none;" : "")">
                                    @(Model.HasVotedUp ? Html.LanguageString("Post.VotedUp") : Html.LanguageString("Post.VoteUp"))
                                </a>
                            }
                        </li>

                        if (!Html.Settings().DisableDislikeButton)
                        {
                            <li>
                                <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                                <span class="count">@downVotes.Count().KiloFormat()</span>
                                @if (Model.AllowedToVote)
                                {
                                    <a class="votelink" data-id="@postId" data-votetype="down" data-votetext="@Html.LanguageString("Post.VoteDown")" data-votedtext="@Html.LanguageString("Post.VotedDown")" data-hasvoted="@Model.HasVotedDown.ToString().ToLower()" style="@Html.Raw(Model.HasVotedUp ? "display:none;" : "")">
                                        @(Model.HasVotedDown ? Html.LanguageString("Post.VotedDown") : Html.LanguageString("Post.VoteDown"))
                                    </a>
                                }
                            </li>
                        }
                    }
                    
                    <li>
                        <span class="glyphicon @(Model.MemberHasFavourited ? "glyphicon glyphicon-star" : "glyphicon-star-empty")" aria-hidden="true"></span>
                        <span class="count">@Model.Favourites.Count()</span>
                        @if (Html.CurrentMember() != null && Model.Post.User.Id != loggedOnUserId)
                        {
                            <a class="favourite" data-id="@postId" data-addremove="@(Model.MemberHasFavourited ? "remove" : "add")">
                                @(Model.MemberHasFavourited ? Html.Lang("Post.Favourited") : Html.Lang("Post.Favourite"))
                            </a>
                        }
                    </li>

                    @if (Html.Settings().EnableMarkAsSolution)
                    {
                        if (Model.ParentTopic.Solved && Model.Post.IsSolution)
                        {
                            <li>
                                <span class="glyphicon glyphicon-ok green-colour" aria-hidden="true"></span>
                            </li>
                        }
                        else if (!Model.ParentTopic.Solved && !Model.Post.IsTopicStarter && Model.ParentTopic.User.Id == loggedOnUserId)
                        {
                            <li>
                                <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                                <a class="solutionlink" data-id="@postId">
                                    @Html.LanguageString("Post.IsSolution")
                                </a>
                            </li>
                        }
                    }

                </ul>

            </div>

            @if (Model.Post.IsTopicStarter && Model.ParentTopic.Tags.Any())
            {
                <div class="posttags tagsinput">
                    @foreach (var tag in Model.ParentTopic.Tags)
                    {
                        <span class="tag"><span><a href="@Html.Raw(tag.NiceUrl)">@Html.Raw(tag.Tag)</a></span></span>
                    }
                </div>
            }

            @if (Model.Post.Files != null && Model.Post.Files.Any())
            {

                <div class="postuploadedfilesholder clearfix">
                    <p>@Html.Lang("Post.AttachedFiles")</p>
                    <ul>
                        @foreach (var file in Model.Post.Files.OrderByDescending(o => o.DateCreated))
                        {
                            <li>
                                <a class="fileupload" href="@Html.Raw(Url.Content(file.FilePath))">
                                    @if (AppHelpers.FileIsImage(file.FilePath))
                                    {
                                        <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
                                    }
                                    else
                                    {
                                        <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                                    }
                                </a>
                                @if (Model.Post.User.Id == loggedOnUserId || User.IsInRole(AppConstants.AdminRoleName))
                                {
                                    <a href="@Url.Action("DeleteUploadedFile", "Upload", new { file.Id })" class="deleteupload" title="@Html.LanguageString("Post.Delete")">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    </a>
                                }
                            </li>
                        }
                    </ul>
                </div>
            }

            @Html.Partial("_PostLikedBy", new MVCForum.Website.ViewModels.PostLikedByViewModel { Post = Model.Post, Votes = upVotes })

        </div>




    </div>
</div>
