@model MVCForum.Website.Areas.Admin.ViewModels.EditSettingsViewModel

@{
    ViewBag.Title = "Settings";
}

@section AdminHeader
{
        @(
        Bundle.JavaScript()
            .Add("~/Scripts/jquery.validate.min.js")
            .Add("~/Scripts/jquery.validate.unobtrusive.min.js")
            
            .MvcRender("/scripts/cache/validate-combined_#.js")
    )  
}

@using (Html.BeginForm("Index", "Settings", FormMethod.Post, new { @class = "form-horizontal" }))
{
        @Html.HiddenFor(model => model.Id)


        @Html.ValidationSummary(false)

        <div class="tabbable tabs-below">
            
        <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a data-toggle="tab" href="#general">General</a></li>
            <li><a data-toggle="tab" href="#points">Points</a></li>
            <li><a data-toggle="tab" href="#email">Email</a></li>
            <li><a data-toggle="tab" href="#theme">Theme</a></li>
            <li><a data-toggle="tab" href="#role">Starting Role</a></li>
            <li><a data-toggle="tab" href="#language">Default Language</a></li>
            <li><a data-toggle="tab" href="#spam">Spam</a></li>
        </ul>
 
        <div class="tab-content">
            <div class="tab-pane active" id="general">
        
                <div class="editor-label">
                    @Html.LabelFor(model => model.ForumName)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.ForumName)
                    @Html.ValidationMessageFor(model => model.ForumName)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.ForumUrl)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.ForumUrl)
                    @Html.ValidationMessageFor(model => model.ForumUrl)
                </div>

                <div class="editor-field n3ocheckboxfield">
                    @Html.EditorFor(model => model.IsClosed)
                    @Html.LabelFor(model => model.IsClosed)
                    @Html.ValidationMessageFor(model => model.IsClosed)
                </div>

                <div class="editor-field n3ocheckboxfield">
                    @Html.EditorFor(model => model.EnableRSSFeeds)
                    @Html.LabelFor(model => model.EnableRSSFeeds)
                    @Html.ValidationMessageFor(model => model.EnableRSSFeeds)
                </div>

                <div class="editor-field n3ocheckboxfield">
                    @Html.EditorFor(model => model.DisplayEditedBy)
                    @Html.LabelFor(model => model.DisplayEditedBy)
                    @Html.ValidationMessageFor(model => model.DisplayEditedBy)
                </div>

                @*
                // TODO: look into adding this in v1.1
                <div class="editor-field n3ocheckboxfield">
                    @Html.EditorFor(model => model.EnablePostFileAttachments)
                    @Html.LabelFor(model => model.EnablePostFileAttachments)
                    @Html.ValidationMessageFor(model => model.EnablePostFileAttachments)
                </div>*@

                <div class="editor-field n3ocheckboxfield">
                    @Html.EditorFor(model => model.EnableMarkAsSolution)
                    @Html.LabelFor(model => model.EnableMarkAsSolution)
                    @Html.ValidationMessageFor(model => model.EnableMarkAsSolution)
                </div>

                <div class="editor-field n3ocheckboxfield">
                    @Html.EditorFor(model => model.EnableSpamReporting)
                    @Html.LabelFor(model => model.EnableSpamReporting)
                    @Html.ValidationMessageFor(model => model.EnableSpamReporting)
                </div>

                <div class="editor-field n3ocheckboxfield">
                    @Html.EditorFor(model => model.EnableMemberReporting)
                    @Html.LabelFor(model => model.EnableMemberReporting)
                    @Html.ValidationMessageFor(model => model.EnableMemberReporting)
                </div>

                <div class="editor-field n3ocheckboxfield">
                    @Html.EditorFor(model => model.EnableEmailSubscriptions)
                    @Html.LabelFor(model => model.EnableEmailSubscriptions)
                    @Html.ValidationMessageFor(model => model.EnableEmailSubscriptions)
                </div>

                <div class="editor-field n3ocheckboxfield">
                    @Html.EditorFor(model => model.ManuallyAuthoriseNewMembers)
                    @Html.LabelFor(model => model.ManuallyAuthoriseNewMembers)
                    @Html.ValidationMessageFor(model => model.ManuallyAuthoriseNewMembers)
                </div>

                <div class="editor-field n3ocheckboxfield">
                    @Html.EditorFor(model => model.EmailAdminOnNewMemberSignUp)
                    @Html.LabelFor(model => model.EmailAdminOnNewMemberSignUp)
                    @Html.ValidationMessageFor(model => model.EmailAdminOnNewMemberSignUp)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.TopicsPerPage)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.TopicsPerPage)
                    @Html.ValidationMessageFor(model => model.TopicsPerPage)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.PostsPerPage)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.PostsPerPage)
                    @Html.ValidationMessageFor(model => model.PostsPerPage)
                </div>
                

                <div class="editor-label">
                    @Html.LabelFor(model => model.ActivitiesPerPage)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.ActivitiesPerPage)
                    @Html.ValidationMessageFor(model => model.ActivitiesPerPage)
                </div>

                <div class="editor-field n3ocheckboxfield">
                    @Html.EditorFor(model => model.EnablePrivateMessages)
                    @Html.LabelFor(model => model.EnablePrivateMessages)
                    @Html.ValidationMessageFor(model => model.EnablePrivateMessages)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.MaxPrivateMessagesPerMember)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.MaxPrivateMessagesPerMember)
                    @Html.ValidationMessageFor(model => model.MaxPrivateMessagesPerMember)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.PrivateMessageFloodControl)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.PrivateMessageFloodControl)
                    @Html.ValidationMessageFor(model => model.PrivateMessageFloodControl)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.EnableSignatures)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.EnableSignatures)
                    @Html.ValidationMessageFor(model => model.EnableSignatures)
                </div>

            </div>
            <div class="tab-pane" id="points">
                
                <div class="editor-label">
                    @Html.LabelFor(model => model.EnablePoints)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.EnablePoints)
                    @Html.ValidationMessageFor(model => model.EnablePoints)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.PointsAllowedToVoteAmount)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.PointsAllowedToVoteAmount)
                    @Html.ValidationMessageFor(model => model.PointsAllowedToVoteAmount)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.PointsAddedPerPost)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.PointsAddedPerPost)
                    @Html.ValidationMessageFor(model => model.PointsAddedPerPost)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.PointsAddedPostiveVote)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.PointsAddedPostiveVote)
                    @Html.ValidationMessageFor(model => model.PointsAddedPostiveVote)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.PointsDeductedNagativeVote)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.PointsDeductedNagativeVote)
                    @Html.ValidationMessageFor(model => model.PointsDeductedNagativeVote)
                </div>
                
                <div class="editor-label">
                    @Html.LabelFor(model => model.PointsAddedForSolution)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.PointsAddedForSolution)
                    @Html.ValidationMessageFor(model => model.PointsAddedForSolution)
                </div>

            </div>
            <div class="tab-pane" id="email">
        
                <div class="editor-label">
                    @Html.LabelFor(model => model.AdminEmailAddress)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.AdminEmailAddress)
                    @Html.ValidationMessageFor(model => model.AdminEmailAddress)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.NotificationReplyEmail)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.NotificationReplyEmail)
                    @Html.ValidationMessageFor(model => model.NotificationReplyEmail)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.SMTP)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.SMTP)
                    @Html.ValidationMessageFor(model => model.SMTP)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.SMTPUsername)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.SMTPUsername)
                    @Html.ValidationMessageFor(model => model.SMTPUsername)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.SMTPPassword)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.SMTPPassword)
                    @Html.ValidationMessageFor(model => model.SMTPPassword)
                </div>

            </div>
            
            <div class="tab-pane" id="theme">
                <div class="editor-label">
                    @Html.LabelFor(model => model.Theme)
                </div>
                <div class="editor-field">
                    @Html.DropDownListFor(model => model.Theme, new SelectList(Model.Themes), string.Empty)
                    @Html.ValidationMessageFor(model => model.Theme)
                </div>
            </div>
            
            <div class="tab-pane" id="role">
                <div class="editor-label">
                    @Html.LabelFor(model => model.NewMemberStartingRole)
                </div>
                <div class="editor-field">
                    @Html.DropDownListFor(model => model.NewMemberStartingRole, new SelectList(Model.Roles, "Id", "RoleName"), string.Empty)
                    @Html.ValidationMessageFor(model => model.NewMemberStartingRole)
                </div>
            </div>
            
            <div class="tab-pane" id="language">
                <div class="editor-label">
                    @Html.LabelFor(model => model.DefaultLanguage)
                </div>
                <div class="editor-field">
                    @Html.DropDownListFor(model => model.DefaultLanguage, new SelectList(Model.Languages, "Id", "Name"), string.Empty)
                    @Html.ValidationMessageFor(model => model.DefaultLanguage)
                </div>
            </div>
            
            <div class="tab-pane" id="spam">
                <div class="editor-label">
                    @Html.LabelFor(model => model.EnableAkisment)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.EnableAkisment)
                    @Html.ValidationMessageFor(model => model.EnableAkisment)
                </div>
                
                <div class="editor-label">
                    @Html.LabelFor(model => model.AkismentKey)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.AkismentKey)
                    @Html.ValidationMessageFor(model => model.AkismentKey)
                </div>
            </div>

        </div> 

        </div>

        <div class="submit-holder">
            <input type="submit" class="btn btn-large btn-success" value="Save Settings" />
        </div>

}

