@model MVCForum.Domain.DomainModel.Topic
           
<div class="topicsnippet" id="topic-@Model.Id">
    <div class="row">
        <div class="col-md-9">
            <h2>@Model.Name</h2>
            <p>@Html.Raw(AppHelpers.ConvertPostContent(Model.LastPost.PostContent))</p>
            <p class="postuser">@Model.LastPost.User.UserName</p>
        </div>
        <div class="col-md-3">
            <a href="#" data-topicid="@Model.Id" data-topicaction="approve" class="btn-mvc btn-mvc-green topicaction">Approve</a>
            <a href="#" data-topicid="@Model.Id" data-topicaction="delete" class="btn-mvc btn-mvc-red topicaction">Delete</a>
        </div>
    </div>
</div>