@using MVCForum.Website
@if (Html.Settings().EnableSocialLogins == true)
{
    <div class="oauthbuttons">

        @if (!string.IsNullOrEmpty(SiteConstants.FacebookAppId) && !string.IsNullOrEmpty(SiteConstants.FacebookAppSecret))
        {
            <p>
                <a class="btn-mvc btn-mvc-large facebookloginbutton" href="@Url.Action("FacebookLogin", "FacebookOAuth")">
                    <img src="@Url.Content("~/Content/Images/social-icons/facebook.png")" class="socialicon" alt="@Html.LanguageString("Members.LogonFacebookButton")" />
                    @Html.LanguageString("Members.LogonFacebookButton")
                </a>
            </p>
        }
        else
        {
            @Html.LanguageString("Facebook.Error.EnabledButNotAddedKeys")
        }
        
        @if (!string.IsNullOrEmpty(SiteConstants.GooglePlusAppId) && !string.IsNullOrEmpty(SiteConstants.GooglePlusAppSecret))
        {
            <p>
                <a class="btn-mvc btn-mvc-large googleloginbutton" href="@Url.Action("GoogleLogin", "GoogleOAuth")">
                    <img src="@Url.Content("~/Content/Images/social-icons/google.png")" class="socialicon" alt="@Html.LanguageString("Members.LogonGoogleButton")" />
                    @Html.LanguageString("Members.LogonGoogleButton")
                </a>
            </p>
        }
        else
        {
            @Html.LanguageString("Google.Error.EnabledButNotAddedKeys")
        }
    </div>

    <div class="loginortext">
        @Html.LanguageString("Members.LoginOrText")
    </div>
}