@using MVCForum.Website
@if (Html.Settings().EnableSocialLogins == true)
{
    <div class="oauthbuttons">

        @if (!string.IsNullOrEmpty(SiteConstants.FacebookAppId) && !string.IsNullOrEmpty(SiteConstants.FacebookAppSecret))
        {
            <p>
                <a class="btn-mvc btn-mvc-large btn-mvc-fullwidth facebookloginbutton" href="@Url.Action("FacebookLogin", "FacebookOAuth")">
                    <i class="fa fa-facebook"></i> @Html.LanguageString("Members.LogonFacebookButton")
                </a>
            </p>
        }
        else
        {
            @Html.LanguageString("Facebook.Error.EnabledButNotAddedKeys")
        }
        
        @if (!string.IsNullOrEmpty(SiteConstants.GooglePlusAppId) && !string.IsNullOrEmpty(SiteConstants.GooglePlusAppSecret))
        {
            <p>
                <a class="btn-mvc btn-mvc-large btn-mvc-fullwidth googleloginbutton" href="@Url.Action("GoogleLogin", "GoogleOAuth")">
                    <i class="fa fa-google-plus"></i> @Html.LanguageString("Members.LogonGoogleButton")
                </a>
            </p>
        }
        else
        {
            @Html.LanguageString("Google.Error.EnabledButNotAddedKeys")
        }
    </div>

    <div class="loginortext">
        @Html.LanguageString("Members.LoginOrText")
    </div>
}