@using MvcForum.Web.Application.ExtensionMethods
@*<li><a href="//www.mvcforum.com"><span class="glyphicon glyphicon glyphicon-menu-left" aria-hidden="true"></span> Main Website</a></li>*@<li><a href="@Url.Action("Index", "Home")" class="auto-latest @(TempData[Constants.CurrentController].ToString() == "home" && TempData[Constants.CurrentAction].ToString() == "index" ? "active" : "")">@Html.Lang("SubNav.Latest")</a></li><!--
-->@if (User.Identity.IsAuthenticated)
{<!--
    --><li><a href="@Url.Action("Following", "Home")" class="@(TempData[Constants.CurrentController].ToString() == "home" && TempData[Constants.CurrentAction].ToString() == "following" ? "active" : "")">@Html.Lang("SubNav.Following")</a></li><!--
    --><li><a href="@Url.Action("PostedIn", "Home")" class="@(TempData[Constants.CurrentController].ToString() == "home" && TempData[Constants.CurrentAction].ToString() == "postedin" ? "active" : "")">@Html.Lang("SubNav.PostedIn")</a></li><!--
    --><li><a href="@Url.Action("Index", "Favourite")" class="@(TempData[Constants.CurrentController].ToString() == "favourite" && TempData[Constants.CurrentAction].ToString() == "index" ? "active" : "")">@Html.Lang("SubNav.Favourites")</a></li><!--
-->}
@if (Html.Settings().EnablePoints)
{<!--
    --><li><a href="@Url.Action("Leaderboard", "Home")" class="@(TempData[Constants.CurrentController].ToString() == "home" && TempData[Constants.CurrentAction].ToString() == "leaderboard" ? "active" : "")">@Html.LanguageString("Layout.Nav.Leaderboard")</a></li><!--
-->}<!--
--><li><a href="@Url.Action("Activity", "Home")" class="@(TempData[Constants.CurrentController].ToString() == "home" && TempData[Constants.CurrentAction].ToString() == "activity" ? "active" : "")">@Html.LanguageString("Layout.Nav.Activity")</a></li><!--
--><li><a href="@Url.Action("AllBadges", "Badge")" class="@(TempData[Constants.CurrentController].ToString() == "badge" && TempData[Constants.CurrentAction].ToString() == "allbadges" ? "active" : "")">@Html.LanguageString("Layout.Nav.Badges")</a></li>
