@*<li><a href="//www.mvcforum.com"><span class="glyphicon glyphicon glyphicon-menu-left" aria-hidden="true"></span> Main Website</a></li>*@<li><a href="@Url.Action("Index", "Home")" class="@(TempData[AppConstants.CurrentController].ToString() == "home" && TempData[AppConstants.CurrentAction].ToString() == "index" ? "active" : "")">@Html.Lang("SubNav.Latest")</a></li><!--
-->@if (User.Identity.IsAuthenticated)
{
    <li><a href="@Url.Action("Search", "Members")" class="@(TempData[AppConstants.CurrentController].ToString() == "members" && TempData[AppConstants.CurrentAction].ToString() == "search" ? "active" : "")">@Html.LanguageString("Members.SearchMembers")</a></li>
}
@if (Html.Settings().EnablePoints)
{<!--
    --><li><a href="@Url.Action("Leaderboard", "Home")" class="@(TempData[AppConstants.CurrentController].ToString() == "home" && TempData[AppConstants.CurrentAction].ToString() == "leaderboard" ? "active" : "")">@Html.LanguageString("Layout.Nav.Leaderboard")</a></li><!--
-->}<!--
--><li><a href="@Url.Action("Activity", "Home")" class="@(TempData[AppConstants.CurrentController].ToString() == "home" && TempData[AppConstants.CurrentAction].ToString() == "activity" ? "active" : "")">@Html.LanguageString("Layout.Nav.Activity")</a></li><!--
--><li><a href="@Url.Action("AllBadges", "Badge")" class="@(TempData[AppConstants.CurrentController].ToString() == "badge" && TempData[AppConstants.CurrentAction].ToString() == "allbadges" ? "active" : "")">@Html.LanguageString("Layout.Nav.Badges")</a></li>
