
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <ul>
                <li><a href="@Url.Action("Index", "Home")" class="@(TempData[AppConstants.CurrentController].ToString() == "home" && TempData[AppConstants.CurrentAction].ToString() == "index" ? "active" : "")">@Html.Lang("SubNav.Latest")</a></li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li><a href="@Url.Action("Following", "Home")" class="@(TempData[AppConstants.CurrentController].ToString() == "home" && TempData[AppConstants.CurrentAction].ToString() == "following" ? "active" : "")">@Html.Lang("SubNav.Following")</a></li>
                    <li><a href="@Url.Action("PostedIn", "Home")" class="@(TempData[AppConstants.CurrentController].ToString() == "home" && TempData[AppConstants.CurrentAction].ToString() == "postedin" ? "active" : "")">@Html.Lang("SubNav.PostedIn")</a></li>
                    <li><a href="@Url.Action("Index", "Favourite")" class="@(TempData[AppConstants.CurrentController].ToString() == "favourite" && TempData[AppConstants.CurrentAction].ToString() == "index" ? "active" : "")">@Html.Lang("SubNav.Favourites")</a></li>
                }
                @if (Html.Settings().EnablePoints)
                {
                    <li><a href="@Url.Action("Leaderboard", "Home")">@Html.LanguageString("Layout.Nav.Leaderboard")</a></li>
                }
                <li><a href="@Url.Action("Activity", "Home")">@Html.LanguageString("Layout.Nav.Activity")</a></li>
                <li><a href="@Url.Action("AllBadges", "Badge")">@Html.LanguageString("Layout.Nav.Badges")</a></li>
            </ul>
        </div>
    </div>
</div>
