@using MVCForum.Website.Application.ExtensionMethods
@model MVCForum.Website.Areas.Admin.ViewModels.AddTypeViewModel

@{
    ViewBag.Title = "Add Permission Type";
}

<p><a href="@Url.Action("PermissionTypes")" class="btn-mvc">&lt;&lt; Back</a></p>

@using (Html.BeginForm("AddType", "Permissions", FormMethod.Post)) 
{
    @Html.ValidationSummary(false)
    <fieldset>
        <legend>@ViewBag.Title</legend>

        <div class="form-group">
            @Html.LabelFor(model => model.Name)
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        
        <div class="checkbox">
            @using (Html.BeginLabelFor(m => m.IsGlobal, new { @class = "checkbox" }))
            {
                @Html.CheckBoxFor(m => m.IsGlobal)
            }
            @Html.ValidationMessageFor(m => m.IsGlobal)
        </div>

        <div class="submit-holder">
            <input type="submit" class="btn btn-large btn-success" value="Create" />
        </div>
    </fieldset>
}