@model MVCForum.Website.Areas.Admin.ViewModels.LocaleResourceKeyViewModel

@{
    ViewBag.Title = "Add Resource Key";
}

@Html.Partial("_LanguageOptions")

@using (Html.BeginForm("AddResourceKey", "AdminLanguage", FormMethod.Post))
{
    @Html.ValidationSummary(false)
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>Create New Resource</legend>

        <div class="form-group">
            @Html.LabelFor(model => model.Name)
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Notes)
            @Html.TextAreaFor(model => model.Notes, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Notes)
        </div>

        <div class="submit-holder">
            <input type="submit" class="btn-mvc btn-mvc-green" value="Create" />
        </div>
    </fieldset>
}
